<a href="https://colab.research.google.com/github/Marisol787/Marisol787-MarisolGutierrezDTSC3020/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
fruit = ["banana", "orange", "pinapple"]
print(fruit[0])
print(fruit[1])
print(fruit[2])

banana
orange
pinapple

In [11]:
names = ["Serafina", "Greg", "Marisol", "Tony"]
names[0] = "George"
print(names)

['George', 'Greg', 'Marisol', 'Tony']

In [13]:
vehicles = ["motorcycle", "minivan", "bicycle", "truck", "bus"]
vehicles.append("eighteen wheeler")
print(vehicles)

['motorcycle', 'minivan', 'bicycle', 'truck', 'bus', 'eighteen wheeler']

In [15]:
foods = ["apples", "banana", "icecream", "rice", "tuna", "hard candy"]
foods.remove("banana")
print(foods)

['apples', 'icecream', 'rice', 'tuna', 'hard candy']

In [16]:
cities = ["Tokyo", "New York", "Paris", "Los Angeles"]
cities.sort()
print(cities)

['Los Angeles', 'New York', 'Paris', 'Tokyo']

In [17]:
animals = ["cougar", "panther", "jaguar"]
for animal in animals:
    print(animal)

cougar
panther
jaguar

In [29]:
numbers = list(range(1, 6))
for numbers in numbers:
  print(numbers * 2)

2
4
6
8
10

In [34]:
amigos = ["Tony", "Vivian", "Karla", "Derek", "Kenny", "Ally"]
print(amigos[0:3])
print(amigos[3:7])

['Tony', 'Vivian', 'Karla']
['Derek', 'Kenny', 'Ally']

In [37]:
numbers = list(range(1, 11))
for numbers in numbers:
  print(numbers)

1
2
3
4
5
6
7
8
9
10

In [39]:
squares = [value**2 for value in range(1, 6)]
print(squares)

[1, 4, 9, 16, 25]