<a href="https://colab.research.google.com/github/Marisol787/Marisol787-MarisolGutierrezDTSC3020/blob/main/Assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [95]:
age = int(input("How old are you?\n"))
if 0 <= age <= 11:
  age_group = "Child"
  price = 3.00
elif 12 <= age <= 17:
  age_group = "Teen"
  price = 6.00
elif age >= 18:
  age_group = "Adult"
  price = 10.00
else:
  age_group = "Invalid Age"
  price = "Please enter a valid age"
print("Age Group:", age_group)
print("Ticket Price: $", price)

How old are you?
16
Age Group: Teen
Ticket Price: $ 6.0

In [97]:
cart_total = int(input("What's your total?\n"))
if cart_total < 50:
  discount_rate = 0.00
elif 50 <= cart_total <= 99:
  discount_rate = 0.10
else:
  discount_rate = 0.20
discount = cart_total * discount_rate
final_price = cart_total - discount

print("Total with no Discount: $", cart_total)
print("Discount: $", discount)
print("Final Price: $", final_price)

What's your total?
85
Total with no Discount: $ 85
Discount: $ 8.5
Final Price: $ 76.5

In [98]:
score = int(input("What did you score?\n "))
if 90 <= score <= 100:
    grade = "A"
    message = "Awesome sauce!"
elif 80 <= score <= 89:
    grade = "B"
    message = "Bee happy!"
elif 70 <= score <= 79:
    grade = "C"
    message = "Cool for School!"
elif 60 <= score <= 69:
    grade = "D"
    message = "Drat, better study!"
else:
    grade = "F"
    message = "Fat Fail!"
print("Grade:", grade)
print("Message:", message)

What did you score?
 73
Grade: C
Message: Cool for School!

In [99]:
hours = int(input("How many hours did you park? "))
if 0 <= hours <= 2:
  fee = 0
elif 3 <= hours <= 5:
  fee = hours * 3
else:
  fee = (3 * 3) + (hours - 5) * 5
print("Length of Time Parked:", hours, "hours")
print("Total fee: $", fee)

How many hours did you park? 6
Length of Time Parked: 6 hours
Total fee: $ 14

In [63]:
menu = ['pizza', 'salad', 'sandwich']
order = input("Which menu item would you like?\n")
if order in menu:
  print(f"{order.title()} woohoo! Your order's coming right up!")
else:
  print(f"I apologize, but {order.title()} isn't available.")

Which menu item would you like?
salad
Salad woohoo! Your order's coming right up!

In [100]:
age = int(input("What's your age?\n"))
experience = int(input("How many years of experience?\n"))
if age > 22 and experience > 2:
  print("Accepted")
else:
  print("Not Accepted")

What's your age?
23
How many years of experience?
1
Not Accepted

In [75]:
temperature = int(input("What's the temperature out there in Farenheit? "))
if temperature < 10:
  print("Coat and Gloves")
elif 10 <= temperature <= 19:
  print("Jacket")
else: # 20 or more
  print("T-Shirt")

What's the temperature out there in Farenheit? 15
Jacket

In [81]:
salary = int(input("Whats your salary?\n"))
credit_score = int(input("What's your credit score?\n"))
if salary >= 3000 and credit_score >= 650:
  print("Loan Approved")
else:
  print("Loan Denied")

Whats your salary?
3500
What's your credit score?
640
Loan Denied

In [88]:
password = input("Gimme password\n")
length = len(password)
if length < 6:
  strength = "Weak"
elif 6 <= length <= 10:
  strength = "Medium"
else: # more than 10
  strength = "Strong"
print("Password Strength:", strength)

Gimme password
hello123
Password Strength: Medium

In [94]:
guests = ["Mimi", "Kimmy", "Andrea"]
guest = input("Guest name please!\n")
if guest in guests:
  print("Welcome")
else:
  print("Not on the list")

Guest name please!
Sara
Not on the list